// Banner slider
.banner-section {
  &__slider {
    max-width: 870px;
    &-btn {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      background-color: transparent;
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: none;
      width: 20px;
      height: 20px;
      z-index: 99;
      outline: none;
    }
    &-img {
      object-fit: cover;
      width: 100%;
      height: 400px;
    }
    &-btnprev {
      background: url(../../images/banner-slider/prev-arrow.svg) center
        no-repeat;
      left: 20px;
    }
    &-btnnext {
      background: url(../../images/banner-slider/next-arrow.svg) center
        no-repeat;
      right: 20px;
    }
    .slick-dots {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 9px;
      }
      button {
        padding: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid $light-color;
        outline: none;
        cursor: pointer;
        background-color: transparent;
      }
      .slick-active {
        button {
          background-color: $light-color;
        }
      }
    }
  }
  // Sale Card
  .sale-item {
    max-width: 265px;
    border: 1px solid $border-color;
    border-radius: 3px;
    &__header {
      align-items: flex-start;
      margin-bottom: 7px;
      &-title {
        color: $light-color;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 8px 20px;
        background-color: $main-color;
      }
      &-price {
        font-family: $numbers-font;
        text-align: right;
        .new-price {
          margin-right: 7px;
          color: $main-color;
          font-weight: 700;
          font-size: 27px;
          line-height: 32px;
        }
        .old-price {
          margin-right: 4px;
          position: relative;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $oldPrice-color;
          &::before {
            content: "";
            border-bottom: 0.5px solid $oldPrice-color;
            position: absolute;
            right: 8px;
            width: 40px;
            height: 10px;
            transform: rotate(-20deg);
          }
        }
      }
    }
    &__content {
      &-img {
        object-fit: contain;
      }
      &-descr {
        font-family: $SF-bold;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }
    &__footer {
      margin-top: 7px;
      padding: 26px 25px;
      background-color: $bg-color;
      &-info {
        font-size: 18px;
        line-height: 21px;
      }
      &-date {
        color: $main-color;
        font-family: $numbers-font;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
