$main-color: #1c62cd;
$text-color: #2f3035;
$bg-color: #f0f0f4;
$light-color: #fff;
$dark-color: #000;
$border-color: #cdcdcd;
$oldPrice-color: #c4c4c4;

$SF-regular: "SFProDisplay-Regular", sans-serif;
$SF-medium: "SFProDisplay-Medium", sans-serif;
$SF-semibold: "SFProDisplay-Semibold", sans-serif;
$SF-bold: "SFProDisplay-Bold", sans-serif;

$numbers-fornt: "Barlow", sans-serif;
