$main-color: #1c62cd;
$text-color: #2f3035;
$bg-color: #f0f0f4;
$light-color: #fff;

$SF-regular: "SFProDisplay-Regular", sans-serif;
$SF-medium: "SFProDisplay-Medium", sans-serif;
$SF-semibold: "SFProDisplay-Semibold", sans-serif;
$SF-bold: "SFProDisplay-Bold", sans-serif;
